.UserOptionsContainer{
    position: absolute;
    top: 35px;
    right: 5px;
    background: rgb(255, 253, 253);
    border: 1px solid rgba(214, 214, 214, 0.933)
}

.UserOptionsContainer ul li{
    margin-top: 10px;
}

.UserOptionsContainer ul li:last-of-type{
    border-top: 1px solid rgba(214, 214, 214, 0.933)
}

.UserOptionsContainer ul li a{
    border-bottom: none !important;
}