.ContentContainer{
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
}

.FilterControls{
    border: 1px solid #a5a2a2;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px 10px;
    align-items: center;
}

.FilterControls > div{
    display: flex;
    flex-direction: column;
}

.FilterControls > div input{
    margin: 10px 10px;
    height: 20px;
    min-width: 50px;
}

.FilterControls button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
}

.FilterControls button:hover {opacity: 1}

.PaginationContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.PaginationContainer > ul{
    display: flex;
    list-style: none;
}

.PaginationContainer > ul li{
    margin: 0 5px;
    background-color: #f4511e;
    opacity: 0.6;
    padding: 5px;
    border: 1px solid black;
}

.PaginationContainer > ul li:hover{
    opacity: 1 !important;
}

:global(.active) {
    opacity: 1 !important;
  }

.PaginationContainer > ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
  
}