.Footer{
    height: 60px;
    background: black;
   display: flex;
    justify-content: flex-end;
   align-items: center;
   color: #eeeeee73;
  flex: none;
   width: 100%;
}

.Footer > span{
    margin-right: 30px;
}